* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 80%;
  margin: auto;
}
h2 {
  text-align: center;
  color: #f1f1f1;
  font-size: 1, 7rem;
  margin: 10px;
  padding: 10px;
}

.diapo {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.elements {
  display: flex;
}

.element {
  flex: 1 0 100%;
  position: relative;
}

.element > img {
  width: 100%;
}

#nav-gauche,
#nav-droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
#nav-droite {
  right: 0;
}
.container {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.sliders {
  display: flex;
}

.slider {
  flex: 1 0 100%;
  position: relative;
}

.slider > img {
  width: 100%;
}

#gauche,
#droite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
#droite {
  right: 0;
}
